.aILevelTest {
    .v-sheet {
        width: 42rem;
        min-height: 54rem;
    }

    h3 {
        margin: 0 3rem;
        padding: 2.6rem 0;
        font-size: var(--font-xlarge);
        font-weight: var(--weight-bold);
        line-height: 2.8rem;
        border-bottom: 1px solid #B0B0B0;
    }

    .wrap {
        padding: 3rem 2.5rem 3rem 3rem;

        .v-list {
            padding-right: 1rem;
            height: calc(100% - 6rem);
            overflow: auto;

            .v-list-item {
                &~.v-list-item {
                    margin-top: 0.5rem;
                }
            }

            .v-list-item__content {
                display: flex;
                align-items: center;
                justify-content: space-between;
                padding: 0.7rem 0;

                &::before {
                    display: none;
                }

                .name {
                    display: flex;
                    align-items: center;
                    gap: 0.5rem;

                    .txt_num {
                        @include font_body3($font-weight-bold, $point);
                    }

                    .txt_name {
                        @include font_body3($font-weight-bold);
                    }

                    .txt_week {
                        @include font_body4($font-weight-bold);
                        margin-left: 0.5rem;
                        color: var(--font-orange);
                        margin-right: 2rem;
                        line-height: 2.4rem;
                    }
                }

                .v-selection-control {
                    min-height: auto;
                }
            }
        }
    }
}