.card_items {
  display: flex;
  align-items: center;
  gap: 1.5rem;

  &.type_wrap {
    flex-wrap: wrap;
    gap: 3rem;
  }
  &.gutter_3 {
    gap: 3rem;
  }
  .item {
    flex-shrink: 0;
    overflow: hidden;
    border: 1px solid $G400;
    @include radius(.5rem);
    line-height: 0;
  }
  .image_wrap{
    background-color: $G50;
  }
  .text_wrap {
    padding: 2rem 1.8rem;
    border-top: 1px solid $G400;
    background-color: $white;
    text-align: center;
    p {
      @include font_body3();
    }
  }
  .v-checkbox {
    position: absolute;
    top: 1.5rem;
    left: 1.5rem;
    z-index: 1;
  }
  .card {
    width: 30rem;
    
    .title {
      justify-content: center;
      gap: 1rem;
      margin-bottom: 2rem;
      padding-bottom: 0;
      font-size: $font-medium;
    }
  }
}