.colorboard {
    max-width: 25rem;
    height: 23.5rem;
    display: flex;
    flex-wrap: wrap;

    &.paintable {
        max-width: 49.4rem;
        max-height: 49.4rem;
        // height: 51.3rem;
        height: 100%;
        .grid {
            width: 2.6rem;
            height: 2.6rem;
        }
    }

    .grid {
        width: 1.3rem;
        height: 1.3rem;
        border: 0.5px solid black;
        cursor: pointer;
    }

    .painted {
        &.blue {
            background: #46a7e5;
        }

        &.green {
            background: #81b01b;
        }

        &.darkgreen {
            background: #0a8;
        }
        &.red {
            background: #fd6e7f;
        }
        &.yellow {
            background: #ffd44d;
        }
    }
}
