.colorboard {
    display: grid;
    grid-template-columns: repeat(19, 1fr);
    grid-template-rows: repeat(19, 1fr);
    position: relative;
	padding-top: 1px;
	padding-left: 1px;
    width: 49.4rem;
    height: 49.4rem;
    
    &.paintable {
        .grid {
            cursor: pointer;

            &::after {
                position: absolute;
                top: 50%;
                left: 50%;
                @include font_body4($font-color: $G700, $line-height: 1);
                transform: translate(-50%, -50%);
            }
            &.painted {
                &::after {
                    content: none;
                }
            }
        }
        .blue {
            &::after {
                content: '1';
            }
        }
        .yellow {
            &::after {
                content: '2';
            }
        }
        .red {
            &::after {
                content: '3';
            }
        }
        .green {
            &::after {
                content: '4';
            }
        }
        .darkgreen {
            &::after {
                content: '5';
            }
        }
    }

    .grid {
        position: relative;
		margin-left: -1px;
		margin-top: -1px;
		border: 1px solid $G800;
	}
    .painted {
        &.blue {
            background-color: $B500;
        }
        &.yellow {
            background-color: $Y300;
        }
        &.red {
            background-color: var(--shchme-color-learner5);
        }
        &.green {
            background-color: var(--point-color-green);
        }
        &.darkgreen {
            background-color: var(--point-color-darkgreen);
        }
    }
}
.board-stamp {
    position: absolute;
    right: 1rem;
    bottom: 1rem;
    width: 16rem;
    height: 16rem;
    border-radius: 100%;
    background-color: $white;
    
    .v-responsive {
        overflow: unset;
    }
    img {
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        width: 104%;
        height: 104%;
    }
}