.LearningHistoryStats {
    .title {
        padding: 1.25rem 0;
        margin: 0 3rem;
        border-bottom: 1px solid #171717;
    }
    h3 {
        @include font_header2();
    }
    .v-list-item--variant-text .v-list-item__overlay {
        background-color: transparent;
    }
}