.selfCheck,
.touchVoca,
.achievement {
    .box {
        height: calc(100% - 6rem);
    }
}

.selfCheck {
    height: 100%;

    .v-slide-group {
        .v-slide-group__content {
            justify-content: center;
        }
    }

    .v-chip {
        &.v-chip.v-chip--size-default {
            min-width: 7.7rem;
            min-height: 4.4rem;
            height: 4.4rem;
            text-align: left;

            border: 2px solid #fff;

            &.active {

                border: 2px solid #ffc100;
            }

            .v-chip__content {
                display: flex;
                align-items: center;
                font-size: var(--font-medium);
                line-height: 2.4rem;
                text-align: center;
                font-weight: var(--weight-bold);
                color: #171717;

                i {
                    margin-right: 0.4rem;
                    width: 3.33rem;
                    height: 3.33rem;
                }
            }
        }
    }
}